{% extends 'base.html' %}

{% block title %}
    SISCONTEC |
{% endblock %}

{% block main%}
    {% include '_nav.html' %}
    {% include '_messages.html' %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <iframe width="auto" height="300" allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:81df846906/applications/New Time - Nutrimed/New Time - Nutrimed.html">
                </iframe>
            </div>
            <div class="col-sm">
                <iframe width="auto" height="300" allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:81df846906/applications/New Time - Nutrimed/New Time - Nutrimed.html">
                </iframe>
            </div>
            <div class="col-sm">
                <iframe width="auto" height="300" allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:81df846906/applications/New Time - Nutrimed/New Time - Nutrimed.html">
                </iframe>
            </div>
        </div>
    </div>
{% endblock%}

{% block footer %}
    {% include '_footer.html' %}
{% endblock%}