<footer class="footer mt-auto text-center py-2 fixed-bottom" style="background-color: rgba(240,240,240)">
    <span class="text-muted" >
        <small>
            <small>
                <div class="text-right" font-size=14px >
                    DESENVOLVIDO POR <u>SISCONTEC SISTEMAS CONTABILIDADE E TECNOLOGIA</u> -
                        <a href="https://wa.me/5562985738474?text=">
                            <strong>
                                62 98573-8474
                            </strong>
                        </a>
                        <a href="https://wa.me/5562985738474?text=">
                            <img src="/static/whatsapp-min.png" width="30em" height="auto"
                                class="img-fluid;" alt="whatsapp 62 98573-8474">
                        </a>
                </div>
            </small>
        </small>
    </span>
</footer>